@media screen{
	a, a:hover {
		color:#2222CC;
	}
	
	#pageContainer{
		margin-top: 10px;
	}
	/* the results div */ 
	.pubmedResult{
	  /*border: 1px solid #d1cbbb;
	  margin-right:8px;*/ 
	  padding: 2px; 
	}
	.resultHeading{ 
		background-color: #f2f5f4;
		
	}
	.pubmedId{ 
		color: #696969;
		float:left; 
	} 
	.pubmedId a, pubMedId a:visited{ 
		color: #696969;
		text-decoration: none;
		border-bottom:1px dotted #696969;   
	}
	.pubmedId a:hover{
		 color: #2222CC; 
		 border-bottom:1px solid #2222CC;  
		text-decoration: none;
		} 
	.pubMedDate{
		color: #6590af;
	}
	.pubMedTitle{
		
		font-weight: bold;
	}
	.pubMedTitle a:visited{
		color:#CC3300;
	}
	.pubMedAuthors{
		font-style: italic;
		
	}
	.pubMedAuthors a, .pubMedAuthors a:visited, .pubMedAuthors a:hover{
		text-decoration: none;
		color:#000;  
		border-bottom:1px dotted black;
	}
	.pubMedAuthors a:hover{
		color: #2222CC; 
		border-bottom:1px solid #2222CC; 
	}

	/* mods for 960.gs*/
	.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{
		margin-bottom: 18px;
	} 
	.noMargin{
		margin-bottom: 0;
	}  
	/* colors based on: http://www.personal.psu.edu/cab38/ColorBrewer/ColorBrewer.html -- 12 qualitative colors*/
	.highlight1{background-color:#ffed6f;}
	.highlight2{background-color:#ccebc5;}
	.highlight3{background-color:#bc80bd;}
	.highlight4{background-color:#d9d9d9;}
	.highlight5{background-color: #fccde5;}
	.highlight6{background-color: #b3de69;}
	.highlight7{background-color: #fdb462;}
	.highlight8{background-color: #80b1d3;}
	.highlight9{background-color: #fb8072;}
	.highlight10{background-color: #bebada;}
	.highlight11{background-color: #ffffbc;}
	.highlight12{background-color: #8dd3c7;}
	
	.chicken, .highlight{
		background-color: #dfce00;
	}
	h1 a, h1 a:hover, h1 a:visited {color:black;text-decoration: none;}
	h1 a:hover{text-decoration: underline;}                            
	#startPubmedSearch{margin-top:10px;}
	.floatRight {float:right;} 
	.pushTop10{margin-top: 10px;}
	.right{float:right;}
	.left{float:left;} 
	
	/* pagination */
	.digg_pagination { background: white; /* self-clearing method: */ }
	.digg_pagination a, .digg_pagination span { padding: .2em .5em; display: block; float: left; margin-right: 1px; }
	.digg_pagination span.disabled { color: #999; border: 1px solid #DDD; }
	.digg_pagination span.current{font-weight:bold;background:#2E6AB1;color:white;border:1px solid #2E6AB1;}
	.digg_pagination a{text-decoration:none;color:#105CB6;border:1px solid #9AAFE5;}

	.digg_pagination a:hover,.digg_pagination a:focus{color:#003;border-color:#003;}
	.digg_pagination .page_info{background:#2E6AB1;color:white;padding:.4em .6em;width:22em;margin-bottom:.3em;text-align:center;}
	.digg_pagination .page_info b{color:#003;background:#6aa6ed;padding:.1em .25em;}
	.digg_pagination:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
	* html .digg_pagination{height:1%;}
	*:first-child+html .digg_pagination{overflow:hidden;}

	.apple_pagination{background:#F1F1F1;border:1px solid #E5E5E5;text-align:center;padding:1em;} 
	.apple_pagination .normal{text-decoration: none;font-weight: normal;}
	.apple_pagination a,.apple_pagination span{padding:.2em .3em;}
	.apple_pagination span.disabled{color:#AAA;}
	.apple_pagination span.current{font-weight:bold;background:transparent no-repeat 50% 50%; border:1px solid #ccc;}
	.apple_pagination a{text-decoration:none;color:black;}
	.apple_pagination a:hover,.apple_pagination a:focus{text-decoration:underline;}
	.flickr_pagination{text-align:center;padding:.3em;}
	.flickr_pagination a,.flickr_pagination span{padding:.2em .5em;}
	.flickr_pagination span.disabled{color:#AAA;}
	.flickr_pagination span.current{font-weight:bold;color:#FF0084; }
	.flickr_pagination a{border:1px solid #DDDDDD;color:#0063DC;text-decoration:none;}
	.flickr_pagination a:hover,.flickr_pagination a:focus{border-color:#003366;background:#0063DC;color:white;}
	.flickr_pagination .page_info{color:#aaa;padding-top:.8em;}
	.flickr_pagination .prev_page,.flickr_pagination .next_page{border-width:2px;}
	.flickr_pagination .prev_page{margin-right:1em;}
	.flickr_pagination .next_page{margin-left:1em;}
}