@media screen{
	#pageContainer{
		margin-top: 10px;
	}
	/* the results div */ 
	.pubmedResult{
	  /*border: 1px solid #d1cbbb;
	  margin-right:8px;*/ 
	  padding: 2px; 
	}
	.resultHeading{ 
		background-color: #f2f5f4;
		
	}
	.pubmedId{ 
		color: #433403;
		
	}
	.pubMedDate{
		color: #6590af;
	}
	.pubMedTitle{
		font-weight: bold;
	}
	.pubMedAuthors{
		font-style: italic;
		
	}

	/* mods for 960.gs*/
	.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{
		margin-bottom: 18px;
	} 
	.noMargin{
		margin-bottom: 0;
	}  
	/* colors based on: http://www.personal.psu.edu/cab38/ColorBrewer/ColorBrewer.html -- 12 qualitative colors*/
	.highlight1{background-color:#ffed6f;}
	.highlight2{background-color:#ccebc5;}
	.highlight3{background-color:#bc80bd;}
	.highlight4{background-color:#d9d9d9;}
	.highlight5{background-color: #fccde5;}
	.highlight6{background-color: #b3de69;}
	.highlight7{background-color: #fdb462;}
	.highlight8{background-color: #80b1d3;}
	.highlight9{background-color: #fb8072;}
	.highlight10{background-color: #bebada;}
	.highlight11{background-color: #ffffbc;}
	.highlight12{background-color: #8dd3c7;}
	
	.chicken, .highlight{
		background-color: #dfce00;
	}
	h1 a, h1 a:hover, h1 a:visited {color:black;text-decoration: none;}
	h1 a:hover{text-decoration: underline;}                            
	#startPubmedSearch{margin-top:10px;}
	.floatRight {float:right;} 
	.pushTop10{margin-top: 10px;}
}