<%@pageTitle = "Page 1"%>
<% @doc.each_with_index do |d, i| %>
	<% if i < 10%>
		<%= "<h1>#{d.doc_name}</h1><h2>#{d.doc_type}</h2><h2>#{d.date}</h2><h2>#{d.position}</h2>" %>
		<%= "#{@docContent[i].content} <br/>" %>
	<% end%>
<% end%>
<%#= @docContent.content %>

